// Footer-details
.footer-details
  .footer-details__box
    .footer-details__item
      h3.footer-details__title Get in touch
      .footer-details__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .footer-details__item
      h3.footer-details__title Resources
      .footer-details__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .footer-details__item
      h3.footer-details__title Features
      .footer-details__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .footer-details__item
      h3.footer-details__title How To's
      .footer-details__menu
        a.footer-details__link(href="#") Tour
        a.footer-details__link(href="#") Customers
        a.footer-details__link(href="#") Pricing and Plans
        a.footer-details__link(href="#") New Features
        a.footer-details__link(href="#") Education
