// Footer-newsletter
.footer-newsletter
  .footer-newsletter__title Stay in touch
  .footer-newsletter__content
    .footer-newsletter__inputbox
      input.footer-newsletter__input
      button.footer-newsletter__submit <i class="material-icons">check</i>
    .footer-newsletter__text We don't send spam. Actually, who are we kiding we'll spam the shit out of your inbox.