// Features Details
.features-details
  .features-details__item
    .features-details__imagebox(style="background-image: url('source/components/features/features-details/src/features-details-one.jpg')")
      a.features-details__label(href="#")
        span.features-details__labelText <span>Products Used</span> (658)
        img(src="source/components/features/features-details/src/features-details-icon-orange.png" alt="Icon")
    .features-details__details
      span.features-details__tag It's all about
      h5.features-details__title Fitness First
      img.features-details__icon(src="source/components/features/features-details/src/features-details-icon-white.png" alt="Icon")
      .features-details__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
      a.features-details__link(href="#") Read More
  .features-details__item
    .features-details__imagebox(style="background-image: url('source/components/features/features-details/src/features-details-two.jpg')")
      a.features-details__label(href="#")
        span.features-details__labelText <span>Active Users</span> (34)
        img(src="source/components/features/features-details/src/features-details-icon-orange.png" alt="Icon")
    .features-details__details
      span.features-details__tag Love your
      h5.features-details__title Your Body
      img.features-details__icon(src="source/components/features/features-details/src/features-details-icon-white.png" alt="Icon")
      .features-details__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
      a.features-details__link(href="#") Read More
