// Features
section.features
  .features__container
    .features__box
      .features__item
        .features__icon <i class="material-icons">card_travel</i>
        h4.features__subtitle Resources
        .features__text Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client group
        a.features__link(href="#") Explore more <i class="material-icons">arrow_forward</i>
      .features__item
        .features__icon <i class="material-icons">explore</i>
        h4.features__subtitle Training & Funding
        .features__text Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client group
        a.features__link(href="#") Browse training <i class="material-icons">arrow_forward</i>
      .features__item
        .features__icon <i class="material-icons">cloud_queue</i>
        h4.features__subtitle Connect
        .features__text Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client group
        a.features__link(href="#") Connect now <i class="material-icons">arrow_forward</i>
      .features__item
        .features__icon <i class="material-icons">chat_bubble_outline</i>
        h4.features__subtitle Communicate
        .features__text Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client group
        a.features__link(href="#") Start now <i class="material-icons">arrow_forward</i>
    .features__details
      include features-details/_features-details